.active-cyan-2 input[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid #4dd0e1;
  box-shadow: 0 1px 0 0 #4dd0e1;
}

.active-cyan input[type=text] {
  border-bottom: 1px solid #4dd0e1;
  box-shadow: 0 1px 0 0 #4dd0e1;
}

.active-cyan .fa,
.active-cyan-2 .fa {
  color: #4dd0e1;
}

body {
  background: url(images/bgImage.jpg) no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: left;
  text-align: -webkit-center;
}

.posn {
  margin-top: 20%;
  font-family: 'Share Tech Mono', monospace;
  color: white;
  text-align: center;
  margin-bottom: 1.5rem;
}

.form-inline {
  display: block!important;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-align: center;
  text-align: -webkit-center;
}

.terminal {
    color: white;
    background: #41295a;
    background: -webkit-linear-gradient(to right, #2F0743, #41295a);
    background: linear-gradient(to right, #151515, #131313);
    max-width: 60%;
    height: 400px;
    position: relative;
    left: 8px;
    text-align: left;
    margin-top: 60px;
    padding: 1rem;
    border-top: solid 24px #cacaca;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.terminal:before {
    content: '';
    position: absolute;
    height: 0.8em;
    width: 0.8em;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background: #FF5F56;
    -webkit-box-shadow: 1.4em 0em #FFBD2E, 2.8em 0em #2AC940;
    -moz-box-shadow: 1.4em 0em #FFBD2E, 2.8em 0em #2AC940;
    box-shadow: 1.4em 0em #988355, 2.8em 0em #2AC940;
    top: -18px;
}

#typed {
  font-size: 19px;
  color: #33ff00;
  text-align: center;
  font-family: 'Ubuntu Mono', monospace;
}

.contain {
  position: absolute;
  width: 100%;
  z-index: 3;
}

.overlay {
  width: 100%;
  position: absolute;
  height: -webkit-fill-available;
  z-index: 2;
  background: #00e6463b;
  opacity: 0.5;
}

.reset-btn {
  margin-top: 5%;
  padding: 0.5%;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 8%;
  cursor: pointer;
  border: none;
  outline: none;
}

.reset-btn:hover {
  -webkit-box-shadow: -1px 2px 15px -2px rgba(110, 224, 146, 1);
  -moz-box-shadow: -1px 2px 15px -2px rgba(110, 224, 146, 1);
  box-shadow: -1px 2px 15px -2px rgba(110, 224, 146, 1);
}

/* RESPONSIVE */

@media only screen and (max-width: 600px) {
  body {
    background: url(images/bgImage.jpg) no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: bottom;
    text-align: -webkit-center;
  }

  .contain {
    text-align: -webkit-center;
    background: #286d3a4d;
    position: absolute;
    top: 231px;
    padding: 2rem;
}


.posn {
  margin-top: 0;
}
}